body {
  background-image: url("../img/earth.png"), url("../img/rocket.png"),
    url("../img/space2.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 30%, auto, auto;
  background-position: center center, 20% 20%, 0% 0%;
  height: 100vh;
  animation-name: demo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes demo {
  from {
    background-position: center center, 0% 20%, 0 0;
  }
  to {
    background-position: center center, 100% 20%, -1024px 0;
  }
}
