#elementToAnime {
  position: relative;
  animation: yourAnimation 5s linear 0s infinite normal none;
}
@keyframes yourAnimation {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  20% {
    transform: translate(50, 0) rotate(90deg) scale(1);
    color: blue;
  }
  25% {
    transform: translate(50, 50) rotate(90deg) scale(1);
  }
  40% {
    transform: translate(150, 50) rotate(0deg) scale(1);
  }
  45% {
    transform: translate(150, 0) rotate(0deg) scale(1);
  }
  60% {
    transform: translate(350, 0) rotate(0deg) scale(1);
  }
  65% {
    transform: translate(350, 50) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(550, 50) rotate(0deg) scale(1);
  }
  85% {
    transform: translate(550, 0) rotate(0deg) scale(1);
  }
  95% {
    transform: translate(650, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(900, 0) rotate(0deg) scale(1);
  }
}
#demogame {
  background-image: url("https:imageio.forbes.com/blogs-images/startswithabang/files/2020/04/opo9601c-1200x947.jpg");
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: auto;
  background-size: cover;
}
